* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: clamp(30%, 62.5%, 70%);
}

body {
  font-family: roboto;
  line-height: 1.5;
  background: #eaddca;
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  width: 1px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 4rem;
}

.container {
  width: 80%;
  margin: auto;
}

section{
  padding: 15rem 0;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  /* font-size: 35px; */
}

p {
  font-size: 1.6rem;
  margin: 1.2rem;
}


ul {
  list-style: none;
}

h2 {
  font-size:clamp(4rem, 6vw, 6rem);
  line-height: 2;
  margin: 2rem 0;
}

h3 {
  font-size: 4rem;
}

h4{
  font-weight: bolder;
  font-size: 3.5rem;
}

.title{
  text-align: center;
  margin: 2rem 0;
}

img{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

/* showcase section //////////////////////////////////////////////////////////////////// */

#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.443), rgb(0, 0, 0)),
    url(./2.jpg) no-repeat center center/cover;
  min-height: 90vh;
  width: 100vw;
}

#main-nav {
  background: linear-gradient(#eaddca, transparent 90%);
  backdrop-filter: grayscale(90%) blur(.4rem);
  position: sticky;
  top: 0;
  padding: 1rem;
  width: 100%;
  z-index: 100;
}

#nav-content {
  min-width: 90%;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

#nav-logo img {
  width: 6rem;
  height: 6rem;
}

#nav-menu ul {
  font-size: 1.6rem;
}

#nav-menu ul li {
  font-size: 3.5rem;
}

#nav-menu ul li a {
  position: relative;
  color: white;
}

#nav-menu ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  transition: width 0.3s;
}

#nav-menu ul li a:hover::after {
  width: 80%;
}

#nav-menu ul li a:hover {
  color: white;
}

#main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(rgb(71, 65, 58), transparent);
}

#showcase-content {
  position: absolute;
  bottom: 15%;
  left: 10%;
  z-index: 1;
}

#showcase-content h1 {
  font-size: clamp(3.5rem, 4vw, 7rem);
  color: transparent;
  -webkit-text-stroke: 2px #e1c16e;
  background: url(./back.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 30s linear infinite;
  line-height: 1;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

#showcase-content p {
  font-size: clamp(1.6rem, 2vw, 2.5rem);
  font-style: italic;
  color: #e1c16e;
}

/* about section ////////////////////////////////////////////////////// */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./10.png) no-repeat center center/cover;

}

#about p {
  max-width: 50%;
  text-align: center;
}

/* product section /////////////////////////////////////////////////////////////// */

.product {
  box-shadow: 0px 20px 90px 11px rgba(18, 17, 39, 0.2);
  text-align: center;
  /* padding: 50px 10px; */
  /* border-radius: 9px; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.product img {
  width: 100%;
  aspect-ratio: 1;
}


#product-text {
  padding: 2rem;
}


#product-size {
  font-size: 2rem;
  font-weight: 500;
}

/* extra text section //////////////////////////////////////////////////////////////////////////// */

#extra-text {
  background: url(./10.png) no-repeat center center/cover;
}

#extra-text-h2 {
  padding: 1rem;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#extra-text-h2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#extra-text-container {
  text-align: center;
}

#text-1 {
  border-radius: 5px;
  padding: 5rem 2rem;
  box-shadow: 0px 2px 4px 1.1px rgba(18, 17, 39, 0.2);
}

/* up coming section //////////////////////////////////////////////////////////// */
 
.up-coming {
  box-shadow: 0px 20px 90px 11px rgba(18, 17, 39, 0.2);
  border-radius: .9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-coming img {
  width: 100%;
  aspect-ratio: 2/1.5;
}


#up-coming-text {
  text-align: center;
}



#up-coming-text a:hover {
  transition: ease-in-out 0.3s;
  box-shadow: 0px 20px 60px 20px rgba(255, 186, 126, 0.2);
}

/* footer section /////////////////////////////////////////////////// */

footer {
  background: url(./10.png) no-repeat center center/cover;
  bottom: 0;
}

#footer-container {
  align-items: stretch;
  flex-wrap: wrap;
}


#footer-container li {
  font-size: 2.5rem;
}



#copy-right {
  text-align: center;
  color: white;
  padding: 2rem;
  background: black;
}

footer{
  background: #0d0d0d;
}

#footer-container{
  padding: 10rem 0;
  color: white;
}